.board{
	display:grid;
	border: solid 1px rgba(0,0,0,1);
	width:350px;
	height:500px;
	float:left;
	margin-left:100px;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(10,10%);
}

.board_grid_item{
	display: inline-block;
	border: solid 1px rgba(0,0,0,1);
	text-align: center;
	background-size: contain;
}

.deg90{
	-webkit-transform:rotate(270deg);
}

.deg180{
	-webkit-transform:rotate(180deg);
}

.deg270{
	-webkit-transform:rotate(90deg);
}

.info_board{
	display: grid;
	margin-left: 20px;

	grid-template-columns:20px 200px;
	grid-template-rows:300px 1px 200px;
}


#next_member{
	display: inline-block;
	border: solid 1px rgba(0,0,0,1);
}

#score_board{
	display: inline-block;
	border: solid 1px rgba(0,0,0,1);
}


.title_image{
	width:100%;
    height:0;
    display:inline-block;
    position: relative;
    text-align: right;
    float:left;
}